
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&family=Cabin&family=Inconsolata&family=Playfair+Display&family=Roboto+Condensed:wght@300;700&family=Roboto+Mono:wght@100&family=Roboto:wght@700&family=Signika:wght@700&display=swap');

/*Header*/
.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.song-body {
    width: 400px;
    height: 100%;
    margin: auto;
}
.title_main {
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    text-align: center;
}
.subtitle  {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    text-align:center;

}
 p {
    font-family: 'Inconsolata', monospace;
    font-size: 32px;
    font-weight:200;
}
.subtitle-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-style:italic;
}
.image {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: 400px;
    padding: 20px 0px;

}
img {
    height: 100%;
}